@{
    ViewBag.Title = "Index";
}
@model BookingGround.Models.Search
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class=""><a href="/Home/Index">TRANG CHỦ</a> </li>
                    <li class="active"><a href="/Booking">ĐẶT SÂN</a> </li>
                    <li class=""><a href="/Search">SÂN BÓNG ĐÁ</a> </li>
                    <li class=""><a href="/News">TIN TỨC</a> </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CÔNG
                        CỤ<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Administrative Tools</li>
                            <li><a href="/MasterGroundManage">Master Ground Management</a></li>
                            <li><a href="/Home/Underconstruction">User Management</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Ground Manager's Tools</li>
                            <li><a href="/GroundManage">Ground Management</a></li>
                            <li><a href="/ManualBooking">Manual Booking</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">User Profile</li>
                            <li><a href="/Home/Underconstruction">Account Info</a></li>
                            <li><a href="/Home/Underconstruction">Preferences</a></li>
                            <li><a href="/Cancel">History / Cancel Booked</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="/Home/Contact">LIÊN HỆ</a> </li>
                </ul>
            </div>
            <a class="brand" href="/Account/LogOff">ĐĂNG XUẤT</a>
        </div>
    </div>
</div>
<header class="subhead" id="overview">
    <p><img src="../../Content/img/banner1.jpg"/></p>
</header>




<div class="container">
    <div class="row">
        <div class="span3 bs-docs-sidebar" id="navlist">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="/Home/Index">Giới Thiệu Chung</a></li>
                <li><a href="/Booking">Đặt Sân</a></li>
                <li class="dropdown-submenu"><a tabindex="-1" href="/Search">Sân Bóng</a>
                    <ul class="dropdown-menu">
                        <li style="text-align: center">Danh Sách Quận</li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/Search">Quận 1</a></li>
                        <li><a tabindex="-1" href="/Search">Quận 2</a></li>
                    </ul>
                </li>
                <li><a href="/News">Tin Tức</a></li>
                <li><a href="/GroundManage">Quản lý sân bóng</a></li>
                <li><a href="/Home/Underconstruction">Công Cụ</a></li>
                <li><a href="/Home/Contact">Liên Hệ</a></li>
            </ul>
        </div>
        <div class="span9">
            <div class="page-header">
                <h1>
                    <p style="margin-left: 25%; color: inherit;">
                        Tìm Kiếm Sân Bóng</p>
                </h1>
            </div>
            <form class="form-horizontal" id="selectDistrict" method="post">
            <div class="control-group">
                <label class="control-label" for="inputDistrict">
                    Quận</label>
                <div class="controls">
                    <select class="btn-inverse" id="ddldistrict" onchange="return formSubmit()" name="ddldistrict">
                        <option value="0">-----</option>
                        @if (Model.district != null)
                        {
                            foreach (BookingGround.Models.tblDistrict dist in Model.district)
                            {
                                if (dist.id == Model.selectDistrict)
                                {
                            <option value="@dist.id" selected="selected">@dist.name</option>
                                }
                                else
                                {
                            <option value="@dist.id">@dist.name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            </form>
            <div class="page-header">
                <h2>
                    <p style="margin-left: 0%; color: #8E849F; font-size: 24px">
                        Kết Quả</p>
                </h2>
            </div>
            @if (Model.master != null)
            { 
                <div class="row-fluid">
                    <ul class="thumbnails">
                        @foreach (BookingGround.Models.tblMasterGround masterGround in Model.master)
                        {
                            <li class="span4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200" alt="">
                                    <div class="caption">
                                        <h3>
                                            Sân bóng @masterGround.name</h3>
                                        <!--cho sân 5 người -->
                                        @for (int i = 0; @Model.number5 > 0; @Model.number5--)
                                        {
                                        }
                                        @foreach (BookingGround.Models.tblChildGround child in Model.childs)
                                        {
                                            if (child.typeid == 2 && child.masterid == @masterGround.id)
                                            {
                                                Model.number5++;
                                            }
                                        }
                                        <!--cho sân 7 người -->
                                        @for (int i = 0; @Model.number7 > 0; @Model.number7--)
                                        {
                                        }
                                        @foreach (BookingGround.Models.tblChildGround child in Model.childs)
                                        {
                                            if (child.typeid == 3 && child.masterid == @masterGround.id)
                                            {
                                                Model.number7++;
                                            }
                                        }
                                        <!--cho sân 9 người -->
                                        @for (int i = 0; @Model.number9 > 0; @Model.number9--)
                                        {
                                        }
                                        @foreach (BookingGround.Models.tblChildGround child in Model.childs)
                                        {
                                            if (child.typeid == 4 && child.masterid == @masterGround.id)
                                            {
                                                Model.number9++;
                                            }
                                        }
                                        <!--cho sân 11 người -->
                                        @for (int i = 0; @Model.number11 > 0; @Model.number11--)
                                        {
                                        }
                                        @foreach (BookingGround.Models.tblChildGround child in Model.childs)
                                        {
                                            if (child.typeid == 5 && child.masterid == @masterGround.id)
                                            {
                                                Model.number11++;

                                            }
                                        }
                                        <!--modal hiện thông tin của sân -->
                                        <a href="#@masterGround.id" role="button" class="btn btn-primary" data-toggle="modal">
                                            Xem thông tin</a>
                                        <!-- Modal -->
                                        <div id="@masterGround.id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    ×</button>
                                                <h3 id="myModalLabel">
                                                    Thông tin sân bóng</h3>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Địa chỉ: <strong class="text-error">@masterGround.address</strong></p>
                                                <p>
                                                    Số sân <strong>5 người</strong> hiện đang có: <strong class="text-info">@Model.number5
                                                        sân</strong></p>
                                                <p>
                                                    Số sân <strong>7 người</strong> hiện đang có: <strong class="text-info">@Model.number7
                                                        sân</strong></p>
                                                <p>
                                                    Số sân <strong>9 người</strong> hiện đang có: <strong class="text-info">@Model.number9
                                                        sân</strong></p>
                                                <p>
                                                    Số sân <strong>11 người</strong> hiện đang có: <strong class="text-info">@Model.number11
                                                        sân</strong></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
                                                    Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
<br />
<br />
<br />
<script language="javascript" type="text/javascript">
    function formSubmit() {
        $('#selectDistrict').submit()
    }
</script>
