    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @model BookingGround.Models.Manage


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class=""><a href="/Home/Index">TRANG CHỦ</a> </li>
                    <li class="active"><a href="/Booking">ĐẶT SÂN</a> </li>
                    <li class=""><a href="/Search">SÂN BÓNG ĐÁ</a> </li>
                    <li class=""><a href="/News">TIN TỨC</a> </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CÔNG
                        CỤ<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Administrative Tools</li>
                            <li><a href="/MasterGroundManage">Master Ground Management</a></li>
                            <li><a href="/Home/Underconstruction">User Management</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Ground Manager's Tools</li>
                            <li><a href="/GroundManage">Ground Management</a></li>
                            <li><a href="/ManualBooking">Manual Booking</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">User Profile</li>
                            <li><a href="/Home/Underconstruction">Account Info</a></li>
                            <li><a href="/Home/Underconstruction">Preferences</a></li>
                            <li><a href="/Cancel">History / Cancel Booked</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="/Home/Contact">LIÊN HỆ</a> </li>
                </ul>
            </div>
            <a class="brand" href="/Account/LogOff">ĐĂNG XUẤT</a>
        </div>
    </div>
</div>
<header class="subhead" id="overview">
    <p><img src="../../Content/img/banner1.jpg"/></p>
</header>




<div class="container">
    <div class="row">
        <div class="span3 bs-docs-sidebar" id="navlist">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="/Home/Index">Giới Thiệu Chung</a></li>
                <li><a href="/Booking">Đặt Sân</a></li>
                <li class="dropdown-submenu"><a tabindex="-1" href="/Search">Sân Bóng</a>
                    <ul class="dropdown-menu">
                        <li style="text-align: center">Danh Sách Quận</li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/Search">Quận 1</a></li>
                        <li><a tabindex="-1" href="/Search">Quận 2</a></li>
                    </ul>
                </li>
                <li><a href="/News">Tin Tức</a></li>
                <li><a href="/GroundManage">Quản lý sân bóng</a></li>
                <li><a href="/Home/Underconstruction">Công Cụ</a></li>
                <li><a href="/Home/Contact">Liên Hệ</a></li>
            </ul>
        </div>
        
            <div class="span9">
        
            <div class="page-header">
              <h1>
        	    <p style="margin-left:21%; color:#8E849F;" >Danh Sách Cụm Sân<br /></p>
      	      </h1>
              <a href="/MasterGroundManage/Create"><input style="margin-left:30%" type="button" class="btn btn-primary" value="Tạo Cụm Sân Mới"/></a>
            </div>
        
        
            <!-- Thumbnail cho cụm sân-->
      
                     <!-- Modal cho thêm cụm sân-->
    <form method="post" name="formGround" id="formGround">

    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Tên Sân</td>
            <td>Địa Chỉ</td>
            <td>Quận</td>
            <td>Mô tả ngắn</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
        </thead>
    
        <tbody>
        @foreach (BookingGround.Models.tblMasterGround masterGround in Model.masterGround) { 
                <tr>
                    <td><p id="id">@masterGround.id</p></td>
                    <td><p id="name">@masterGround.name</p></td>
                    <td><p id="address">@masterGround.address</p></td>
                    <td><p id="districtName">@masterGround.tblDistrict.name</p></td>
                    <td><p id="description">@masterGround.description</p></td>
                    <td><a href="/MasterGroundManage/Update/@masterGround.id" ><input type="button" value="Update"/></a></td>
                    <td><input type="button" onclick="delete_confirm(@masterGround.id.ToString());" value="Delete"/></td>
                </tr>
        }
        </tbody>
    </table>
    </form>
      </div>
    </div>
    </div>

    
    
        <!-- Le javascript
      ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript">
            function formSubmit() {
                $('#formGround').submit();
            }

            function delete_confirm(masterID) {
                if (confirm("Tất cả danh sách đặt sân của sân con sẽ bị xóa! Bạn có đủ can đảm để thử?")) {
                    alert("Bạn rất can đảm! Đang thực hiện xóa!");
                    var s = "/MasterGroundManage/Delete/" + masterID;
                    window.location = s;
                } else {
                    alert("What a shame!");
                }
            }
        </script>


        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/prettify.js"></script>
	    <script src="js/application.js"></script> 
    
    
        <!-- Analytics
      ================================================== -->

